@import '../../../sass/_vars';


:host {
  padding: 5px 5px 0 5px ;
}

.logo__author {
  font-family: $primary-font;
  font-weight: 400;
  top: 3rem;
  position: absolute;
  white-space: nowrap;
  left: 4.9rem;
}

.logo__container {
  margin: 5px;
  position: relative;
  background-color: transparent;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
}

.logo__container--inverse {
  color: white;

  & .logo__brackets {
    color: $yellow;
  }
}

.logo__A {
  font-family: $logo-font;
  font-weight: 700;
  font-size: 3.4rem;
  position: relative;
  bottom: 0;
}

.logo__prender {
  font-family: $logo-font;
  font-weight: 400;
  position: absolute;
  left: 2.75rem;
  top: 0.2rem;
  font-size: 1.45rem;
}

.logo__gular {
  font-family: $logo-font;
  font-weight: 700;
  position: absolute;
  left: 3.3rem;
  bottom: .45rem;
  font-size: 1.4rem;
}

.logo__brackets {
  font-family: $hand-font;
  color: darkblue;
  font-size: 3.2rem;
  position: absolute;
  left: 11rem;
  top: -31%;
  transform: rotate(40deg);
}