<shared-section
    [backgroundImage]="post.image.slug"
    [imageAuthor]="post.image.author"
    [heading]="post.title"
    [subheading]="post.description"
    (click)="toggleEditMode('title')"
>
</shared-section>
<section *ngIf="checkEditMode('title')">
    <form>
        <label for="title">Título</label>
        <input name="title"  type="text" [(ngModel)]="post.title">

        <label for="subtitle">Subtítulo</label>
        <input name="subtitle"  type="text" [(ngModel)]="post.description">

        <label for="slug">Imagen</label>
        <input name="slug"  type="text" [(ngModel)]="post.image.slug">

        <label for="image-author">Imagen</label>
        <input name="image-author"  type="text" [(ngModel)]="post.image.author">
    </form>
</section>
<article class="content">
    <div class="element" *ngFor="let postElement of post.body.body; index as elementIndex; trackBy: trackByFn" [ngClass]="postElement.type">
        <ng-container *ngIf="postElement.type !== 'image'">
            <h2 (click)="toggleEditMode(elementIndex, 'heading')" class="heading" [innerHTML]="postElement.heading | parseMarkdown"></h2>
            <input *ngIf="checkEditMode(elementIndex, 'heading')"
                id="elementIndex + 'heading'"
                type="text" 
                [(ngModel)]="postElement.heading">

            <ng-container *ngFor="let paragraph of postElement.content; index as paragraphIndex; trackBy: trackByFn">
                <p (click)="toggleEditMode(elementIndex, 'content', paragraphIndex)" [innerHTML]="paragraph | parseMarkdown"></p>
                
                <ng-container *ngIf="checkEditMode(elementIndex, 'content', paragraphIndex)">
                    <textarea 
                        id="elementIndex + 'content' + paragraphIndex"
                        class="edit-post__text-area"
                        [(ngModel)]="post.body.body[elementIndex].content[paragraphIndex]"
                        autofocus>
                    </textarea>
                    <button class="edit-post__button" (click)="addParagraph(elementIndex, paragraphIndex)">añadir párrafo</button>
                    <button class="edit-post__button" (click)="deleteElement(elementIndex, paragraphIndex)">borrar párrafo</button>
                </ng-container>
            </ng-container>

        </ng-container>

        <ng-container *ngIf="postElement.type === 'image'">
            <shared-image (click)="toggleEditMode(elementIndex, 'content')" [slug]="postElement.content[0]"></shared-image>
            <input *ngIf="checkEditMode(elementIndex, 'content')" type="text" [(ngModel)]="postElement.content[0]">
        </ng-container>

        <ng-container  *ngIf="deleteMode">
            <hr>
            <button class="edit-post__button" (click)="deleteElement(elementIndex)">borrar este elemento</button>
            <button class="edit-post__button" (click)="addTextElement(elementIndex)">Añadir elemento de texto</button>
            <button class="edit-post__button" (click)="addImageElement(elementIndex)">Añadir elemento de imagen</button>
            <button class="edit-post__button" (click)="addCodeElement(elementIndex)">Añadir elemento de código</button>
        </ng-container>

    </div>
    <section *ngIf="post.body.body.length === 0">
        <button class="edit-post__button" (click)="addTextElement(elementIndex)">Añadir elemento de texto</button>
        <button class="edit-post__button" (click)="addImageElement(elementIndex)">Añadir elemento de imagen</button>
        <button class="edit-post__button" (click)="addCodeElement(elementIndex)">Añadir elemento de código</button>
    </section>
    <section>
        <button *ngIf="!deleteMode" class="edit-post__button" (click)="activateDeleteMode()">Activar editar elementos</button>
        <button *ngIf="deleteMode" class="edit-post__button" (click)="deActivateDeleteMode()">Desactivar editar elementos</button>
        <button class="edit-post__button" (click)="savePost()">Guardar post</button>
        <p class="edit-post__save-post-feedback">{{savePostFeedback}}</p>
    </section>
</article>