<shared-section
    [backgroundImage]="post.image.slug"
    [imageAuthor]="post.image.author"
    [heading]="post.title"
    [subheading]="post.description"
    (click)="toggleEditMode('title')"
>
</shared-section>
<section *ngIf="checkEditMode('title')">
    <form>
        <label for="title">Título</label>
        <input name="title"  type="text" [(ngModel)]="post.title">

        <label for="subtitle">Subtítulo</label>
        <textarea class="edit-post__text-area" name="subtitle"  [(ngModel)]="post.description"></textarea>

        <label for="slug">Imagen</label>
        <input name="slug"  type="text" [(ngModel)]="post.image.slug">

        <label for="image-author">Autor Imagen</label>
        <input name="image-author"  type="text" [(ngModel)]="post.image.author">

        <label for="status">Status</label>
        <select name="status"  [(ngModel)]="post.status">
            <option value="published">Publicado</option>
            <option value="draft">Borrador</option>
        </select>

        <label for="status">Category</label>
        <input name="status" type="text" [(ngModel)]="post.category.slug">
    </form>
</section>
<article class="content">
    <div #postBodyElement class="element" *ngFor="let postElement of post.body.body; index as elementIndex; trackBy: trackByFn" [ngClass]="postElement.type">
        <h2 *ngIf="postElement.heading" (click)="toggleEditMode(elementIndex, 'heading')" class="heading" [innerHTML]="postElement.heading | parseMarkdown"></h2>
        <input *ngIf="checkEditMode(elementIndex, 'heading')"
            id="elementIndex + 'heading'"
            type="text" 
            [(ngModel)]="postElement.heading"
            editPostAutofocus>
        
        <ng-container *ngIf="postElement.type !== 'image'">
            <ng-container *ngFor="let paragraph of postElement.content; index as paragraphIndex; trackBy: trackByFn">
                <p (click)="toggleEditMode(elementIndex, 'content', paragraphIndex)" [innerHTML]="paragraph | parseMarkdown"></p>
                
                <ng-container *ngIf="checkEditMode(elementIndex, 'content', paragraphIndex)">
                    <textarea id="elementIndex + 'content' + paragraphIndex"
                        class="edit-post__text-area"
                        (keydown)="checkParagraph($event, elementIndex, paragraphIndex)"
                        [(ngModel)]="post.body.body[elementIndex].content[paragraphIndex]"
                        editPostAutofocus>
                    </textarea>
                    <button class="edit-post__button" (click)="addParagraph(elementIndex, paragraphIndex)">+</button>
                    <button class="edit-post__button" (click)="deleteElement(elementIndex, paragraphIndex)">-</button>
                </ng-container>
            </ng-container>
        </ng-container>

        <ng-container *ngIf="postElement.type === 'image'">
            <shared-image (click)="toggleEditMode(elementIndex, 'content')" [slug]="postElement.content[0]"></shared-image>
            <input *ngIf="checkEditMode(elementIndex, 'content')" type="text" [(ngModel)]="postElement.content[0]" editPostAutofocus>
        </ng-container>

        <ng-container  *ngIf="deleteMode">
            <button class="edit-post__button" (click)="addHeadingToElement(elementIndex)">heading</button>
            <button class="edit-post__button" (click)="deleteElement(elementIndex)">borrar</button>
            <hr>
            <button class="edit-post__button" (click)="addTextElement(elementIndex)">texto</button>
            <button class="edit-post__button" (click)="addImageElement(elementIndex)">imagen</button>
            <button class="edit-post__button" (click)="addCodeElement(elementIndex)">código</button>
        </ng-container>

    </div>
    <section *ngIf="post.body.body.length === 0">
        <button class="edit-post__button" (click)="addTextElement(elementIndex)">texto</button>
        <button class="edit-post__button" (click)="addImageElement(elementIndex)">imagen</button>
        <button class="edit-post__button" (click)="addCodeElement(elementIndex)">código</button>
    </section>
    <section>
        <button *ngIf="!deleteMode" class="edit-post__button" (click)="activateDeleteMode()">Activar editar elementos</button>
        <button *ngIf="deleteMode" class="edit-post__button" (click)="deActivateDeleteMode()">Desactivar editar elementos</button>
        <button class="edit-post__button" (click)="savePost()">Guardar post</button>
        <p class="edit-post__save-post-feedback">{{savePostFeedback}}</p>
    </section>
</article>