@import '../../../sass/_vars';

.section__container {
  width: 100%;
  position: relative;
  min-height: 95vh;
  background-position: center center;
}



.section__heading {
  color: white;
  font-family: $primary-font;
  font-weight: 700;
  font-size: 4.5rem;
  transform: translate(-50%, -50%);
  top: 35%;
  left: 50%;
  position: absolute;
  width: 90%;
  text-align: center;
  text-shadow: 3px 3px black;
}

.section__subheading {
  color: white;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 3rem;
  transform: translate(-50%, -50%);
  top: 60%;
  position: absolute;
  left: 50%;
  width: 90%;
  text-align: center;
  text-shadow: 2px 2px black;
}

.section__button {
  color: $yellow;
  background-color: transparent;
  border: 4px solid $yellow;
  font-family: "Exo 2", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 80%;
  position: absolute;
  white-space: nowrap;
  left: 50%;
  padding: 2rem;
  border-radius: 2px;
  letter-spacing: 2px;
  cursor: pointer;
  text-shadow: 3px 3px black;
  outline: none;
  transition: all 0.3s ease-out;
  text-shadow: 3px 3px black;

  &:hover {
    color: darken($yellow, 15%);
    border-color: darken($yellow, 15%);
  }
}
