@import '../../sass/_vars';

.home__description-bullet--1 {
  left: 25%;
}

.home__description-bullet--2 {
  left: 50%;
}

.home__description-bullet--3 {
  left: 75%;
}

.home__level-heading {
  font-weight: 400;
}

.home__level-list {
  list-style: none;
}

.home__level-item {
  font-weight: 400;
  font-size: 2rem;
  margin-left: 2rem;
}

.home__post-container--right {
  width: 50%;
}

.home__list {
  position: relative;
  text-align: center;
}

.home__posts-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-gap: 5rem;
  padding: 5rem;
}

.home__post-heading {
  color: $black;
  font-family: $primary-font;
  font-weight: 700;
  font-size: 4.5rem;
  margin-top: 4rem;
}