<article>
    <shared-section  class="home__heading"
        [backgroundImage]="'home-heading.jpg'"
        [external]="false"
        [heading]="'Dominar Angular nunca fue tan fácil'"
        [subheading]="'Directo al grano. Actualizado. Gratis.'"
        [buttonText]="'Comenzar'"
    >
    </shared-section>

    <!--<shared-section
        [backgroundImage]="'dark-grey.png'"
        [repeatBackground]="true"
        [heading]="'Elige tu nivel'"
    >
        <div class="section__subheading home__description-bullet--1">
            <h3 class="home__level-heading">Principiante</h3>
            <ul class="home__level-list">
                <li class="home__level-item">Componentes</li>
                <li class="home__level-item">Directivas</li>
                <li class="home__level-item">Servicios</li>
            </ul>
        </div>
        <div class="section__subheading home__description-bullet--2">
            <h3 class="home__level-heading">Intermedio</h3>
            <ul class="home__level-list">
                <li class="home__level-item">Observables</li>
                <li class="home__level-item">Módulos</li>
                <li class="home__level-item">Http</li>
            </ul>
        </div>
        <div class="section__subheading home__description-bullet--3">
            <h3 class="home__level-heading">Avanzado</h3>
            <ul class="home__level-list">
                <li class="home__level-item">Angular universal</li>
                <li class="home__level-item">Testing</li>
                <li class="home__level-item">Deploy & Monitoring</li>
            </ul>
        </div>
    </shared-section>-->

    <section class="home__list">
        <h2 class="home__post-heading">Últimas entradas del blog</h2>
        <div class="home__posts-list">
            <post-preview
                *ngFor="let post of posts; let index = index"
                [slug]="post.slug"
                [image]="post.image.thumbnail"
                [title]="post.title"
                [description]="post.description"
            ></post-preview>
        </div>
    </section>
</article>