<shared-section
    [backgroundImage]="post.image.slug"
    [imageAuthor]="post.image.author"
    [heading]="post.title"
    [subheading]="post.description"
>
    {{post.image_author}}
</shared-section>
<section class="content">
    <div class="element" *ngFor="let postElement of post.body.body" [ngClass]="postElement.type">
        <ng-container *ngIf="postElement.type !== 'image'">
            <h2 class="heading">{{postElement.heading}}</h2>
            <p *ngFor="let paragraph of postElement.content">
                {{paragraph}}
            </p>
        </ng-container>
        <ng-container *ngIf="postElement.type === 'image'">
            <shared-image [slug]="postElement.content"></shared-image>
        </ng-container>
    </div>
</section>