@import '../../../sass/_vars';

.home__why {
  padding: 10rem 0;
}

.home__why-heading {
  color: $black;
  font-family: $primary-font;
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 6rem;
}

.home__why-highlight-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 8rem;
}


.home__topic-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 95vh;
}

.home__topics-list-heading {
  color: white;
  font-family: "Exo 2", sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  margin-bottom: 6rem;
}

.home__topics-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-row-gap: 2rem;
  color: white;
  text-align: right;
}

.home-topic-list-item {
  display: flex;
  flex-direction: column;
}

.home__level-heading {
  font-family: $primary-font;
  font-weight: 700;
  font-size: 2.5rem;
}

.home__level-list {
  list-style: none;
}

.home__level-item {
  font-weight: 400;
  font-size: 2rem;
  margin-left: 2rem;
  font-family: $primary-font;

}

.home__post-list {
  padding: 10rem 2rem;
}
