@import '../../../sass/_vars';

.home__description-bullet--1 {
  left: 25%;
}

.home__description-bullet--2 {
  left: 50%;
}

.home__description-bullet--3 {
  left: 75%;
}

.home__level-heading {
  font-weight: 400;
}

.home__level-list {
  list-style: none;
}

.home__level-item {
  font-weight: 400;
  font-size: 2rem;
  margin-left: 2rem;
}

.home__post-container--right {
  width: 50%;
}
