@import '../../../../sass/_vars';

:host {
  position: relative;
  display: block;
}

.post-preview__image-container {
  width: 100%;
  background-position: center center;
  background-size: cover;
  position: relative;
  height: 200px;
  margin-bottom: -40px;
  border-radius: 2px;

  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover {
    .post-preview__title {
      color: darkblue;
      font-size: 2rem;
    }
  }
}
.post-preview__text-container {
  background-color: white;
  width: 75%;
  border-top-right-radius: 2px;
  transition: border 0.2s ease;
  padding: 0rem 2rem;
  position: absolute;
  bottom: 0;
  transition: all 0.3s ease-out;
}

.post-preview__title {
  font-family: $primary-font;
  font-weight: 800;
  font-size: 1.5rem;
  transition: color 0.2s ease;
  margin-bottom: 2px;
  color: $black;
  transition: all 0.3s ease-out;
}

.post-preview__description {
  font-family: $primary-font;
  font-weight: 200;
  font-size: 1rem;

  @include respond(phone) {
    display: none;
  }
}
