@import '../../../../sass/_vars';

:host {
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.image__img {
  width: 100%;
  border-radius: 5px;
}

.image__caption {
  font-family: $primary-font;
  text-align: left;
  margin: 0.5rem auto;
  font-size: 1.1rem;
  font-weight: 200;
  width: 75%;
}