@import "sass/vars";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // this defines what 1rem is
  font-size: 62.5%;
  background-color: $white;

  @include respond(desktop){
    font-size: 85%; //1rem = 9px, 9/16= 50px
  }

  @include respond(big-desktop){
    font-size: 90%;
  }

  @include respond(tablet-landscape){
    font-size: 80%; //1rem = 9px, 9/16= 50px
  }

  @include respond(tablet-portrait){
    font-size: 70%; //1rem = 8px, 8/16= 50px
  }

  @include respond(phone){
    font-size: 62.5%;; //1rem = 8px, 8/16= 50px
  }
  @include respond(small-phone){
    font-size: 50%;; //1rem = 8px, 8/16= 50px
  }

}

body {
  // font-family: 'Eczar', serif;
  // font-weight: 700;
  //box-sizing: border-box;
  //letter-spacing: 0.1rem;
  //line-height: 1.6rem;
}


.not-show-on-mobile{
  @include respond(tablet-portrait){
    display: none;
  }
}

.show-on-mobile{
  display: none;

  @include respond(tablet-portrait){
    display: inherit;
  }
}

.bothClipPath {
  clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);
}

.topClipPath {
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
}

.bottomClipPath {
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
}